.price {
  border: 1px solid black;

  .container {
    display: flex;
    gap: 32px;
  }

  .cardPrice {
    align-items: baseline;
    gap: 4px;

    margin: 0px 10px;

    .priceValue {
      font-size: 48px;
      font-weight: 600;
      line-height: 48px;
      font-family: Noto Sans;
    }

    .pricePeriod {
      font-size: 16px;
      color: black;
      font-weight: 400;
      line-height: 24px;
      font-family: Noto Sans;
    }
  }

  .card {
    display: flex;
    border: 1px solid #e5e5e5;
    flex-direction: column;
    gap: 32px;
    max-width: 384px;

    padding: 32px 32px;
    border-radius: 8px;
    height: auto;
    min-height: 676px;
  }

  @media (max-width: 768px) {
    .card {
      width: 100%;
      min-height: auto;
      padding: 16px;
    }
  }
  .card p {
    text-align: start;
  }

  .silverText {
    font-family: Noto Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: rgba(82, 82, 82, 1);
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 0px;
  }

  .include {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid black;
    flex-grow: 1;
  }

  .row {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }
  Button {
    width: 100%;
  }

  .standartCard {
    display: flex;
    border: 1px solid #e5e5e5;
    flex-direction: column;
    gap: 32px;
    max-width: 384px;

    padding: 0px 32px 32px 32px;
    border-radius: 8px;
    height: auto;
    min-height: 676px;
  }
  .headerCard {
    background-color: rgba(238, 242, 255, 1);
    background-size: cover;
    padding: 0px;
    box-sizing: border-box;
  }
  .headerCard p {
    font-family: Noto Sans;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: rgba(67, 56, 202, 1);
    margin: 0;
    padding: 0;
  }
}

.standartCard p {
  text-align: start;
}
