.sectionHero {
  width: 100%;
  gap: 32px;
  padding: 80px 0;
  height: 718px;
  border-radius: 8px;
  display: flex;
  border: 1px solid black;

  @media (max-width: 1440px) {
    & {
      width: 100%;
      max-width: 1408px;
      height: auto;
    }
  }

  .heroMessage {
    border: 1px solid black;
    height: 324px;
    gap: 24px;
    width: 50%;

    p:first-of-type {
      font-family: Noto Sans;
      font-weight: 600;
      font-size: 60px;
      line-height: 60px;
      letter-spacing: 0%;
      margin-top: 0px;
      color: rgba(23, 23, 23, 1);
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
        0px 8px 8px rgba(0, 0, 0, 0.15);
    }

    p:last-of-type {
      font-family: Noto Sans;
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
      letter-spacing: 0%;
      color: rgba(82, 82, 82, 1);
    }
    .wrapperBlock {
      width: 488px;
      height: 200px;
      gap: 24px;
    }
    .ctaButtons {
      display: flex;
      justify-content: space-between;
      width: 383px;
    }
  }

  .heroImage {
    width: 100%;
    height: auto;

    @media (min-width: 1024px) {
      flex-direction: column-reverse;
      text-align: center;
      width: 696px;
    }
  }
}
