.container {
  width: 100%; /* Контейнер буде займати всю ширину доступного простору */
  max-width: 1408px; /* Максимальна ширина контейнера */
  margin: 0 auto; /* Центрує контейнер по горизонталі */
  padding: 0 16px; /* Відступи зліва та справа */
  box-sizing: border-box; /* Враховує padding в ширині */
  border: 1px solid yellowgreen;

  @media (max-width: 736px) {
    .container {
      padding: 0 12px; /* Зменшення відступів для мобільних пристроїв */
    }
  }
}
