.FAQItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  .question {
    font-family: Noto Sans;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    color: rgba(23, 23, 23, 1);
  }

  .button {
    border: 1px solid rgba(163, 163, 163, 1);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: rgba(163, 163, 163, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
  }
}
.answear {
  font-family: Noto Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: rgba(82, 82, 82, 1);
}
#hr {
  color: rgba(212, 212, 212, 1);
}
