.card {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: start;

  margin: 0px 0px 32px 0px;

  p {
    margin: 0;
    padding: 0;
  }

  .titleStyle {
    font-family: Noto Sans;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: rgba(23, 23, 23, 1);
    margin: 0px 0px 8px 0px;
    padding: 0;
  }

  .highlightStyle {
    font-family: Noto Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: rgba(82, 82, 82, 1);
    margin: 0;
    padding: 0;
  }

  .mostPopular {
    // position: absolute;
    // top: -30px; // Розташування над карткою
    // Центрування по горизонталі
    transform: translateX(-50%); // Вирівнювання по центру
    background-color: rgba(238, 242, 255, 1); // Світло-фіолетовий фон
    color: rgba(67, 56, 202, 1); // Темно-фіолетовий текст
    font-family: Noto Sans;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    height: 60px;
    z-index: 2; // Щоб елемент був поверх інших
 
    white-space: nowrap; // Запобігає переносу тексту
    text-align: center; // Центрування тексту
  }
  .column {
    flex-direction: column;
    text-align: center;
    align-items: start;
    justify-content: center;
  }

  .row {
    flex-direction: row;
    align-items: center;
  }
  .priceGroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 32px;
  }

  .blackRow {
    display: flex;
    align-items: baseline;
    gap: 8px;
    color: rgba(23, 23, 23, 1);
  }

  .purpleRow {
    color: rgba(67, 56, 202, 1);
  }
  .price {
    font-family: Noto Sans;
    font-weight: 600;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: 0%;
  }

  .per {
    font-family: Noto Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }

  .billing {
    font-family: Noto Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: rgba(82, 82, 82, 1);
  }

  .include {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 32px;

    height: 18.75rem;
  }

  .includeItem {
    font-family: Noto Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: rgba(82, 82, 82, 1);
    display: flex;
    gap: 12px;
  }
}
