.Convenience {
  margin: 96px 0px;
  border: 1px solid black;

  .LeftPanel {
    display: flex;
    flex-direction: column;
  }

  .logoWrapper {
    display: flex;
    flex-direction: row;
    gap: 4px;
  }

  .Container {
    display: flex;
    gap: 32px;
    margin-top: 64px;
    flex-direction: row-reverse;
    @media (max-width: 768px) {
      flex-direction: column-reverse;
    }
  }

  .block {
    display: flex;
  }

  .Rocket,
  .p2p,
  .Refund {
    display: flex;
    margin-bottom: 40px;
  }

  .Refund {
    margin-bottom: 0;
  }

  .block p {
    text-align: start;
  }

  .RightPanel {
    width: 630px;
    height: 460px;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 12px;

    .ConvienceImg {
      height: 100%;
      width: 100%;
      object-fit: cover;

      display: block;
    }

    @media (max-width: 768px) {
      width: 100%;
      height: auto;
      aspect-ratio: 4 / 3;
    }
  }
}
