.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  padding: 16px 96px;
  box-sizing: border-box;
 

  @media (max-width: 768px) {
    padding: 16px 24px;
  }
}

.navWrapper {
  display: flex;
  align-items: center;
  gap: 32px;
  flex-grow: 1;
}

.logoWrapper {
  display: flex;
  align-items: center;
  gap: 4px;

  h2 {
    font-family: Noto Sans;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.06em;
  }
}

.navigation {
  display: flex;
  gap: 32px;

  @media (max-width: 768px) {
    display: none;
  }

  &.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 84px;
    left: 0;
    width: 100%;
    background: white;
    padding: 16px 24px;
    z-index: 1000;
  }

  a {
    font-family: Noto Sans;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: rgba(82, 82, 82, 1);
  }
}

.buttons {
  display: flex;
  gap: 16px;
  margin-left: 18.93em;

  @media (max-width: 768px) {
    display: none;
  }
}

.burger {
  display: none;
  border: none;
  background: transparent;
  cursor: pointer;

  @media (max-width: 768px) {
    display: block;
  }
}
