.header {
  display: flex;
  justify-content: space-between;

  .logoWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;

    h2 {
      color: blue;
    }
  }
}
