.header {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  padding: 16px 96px;
  align-items: center;
  gap: 32px;
  width: 100%;
  box-sizing: border-box;

  .navWrapper {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  .logoWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;

    h2 {
      font-family: Noto Sans;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -6%;
    }
  }

  .navigation {
    display: flex;
    gap: 32px;
    width: 650px;
    height: 24px;
    gap: 32px;

    a {
      font-family: Noto Sans;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0%;
      text-decoration: none;
      color: rgba(82, 82, 82, 1);
    }
  }
  .buttons {
    display: flex;
    gap: 16px;
  }
}
